Libreria/ListaLibros.dtd

<!ELEMENT lista_libros (libros*)>
<!ELEMENT libros (autores, titulo, editorial, fecha_de_publicacion, isbn, autor, apellido1, apellido2, nombre)>
<!ELEMENT autores (autor+)>
<!ELEMENT autor (apellido1, apellido2, nombre)>
<!ELEMENT apellido1 (#PCDATA)>
<!ELEMENT apellido2 (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
<!ELEMENT fecha_de_publicacion (#PCDATA)>
<!ELEMENT isbn (#PCDATA)>